In [54]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

query = """
        SELECT *
        FROM FACILITIES
        """ 

def select_all_tasks(conn,query):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    
    cur.execute(query)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

database = "sqlite_db_pythonsqlite.db"
conn = create_connection(database)


def main():
 
    # create a database connection
    
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn,query)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

Connection is on so let's begin the game!
Q1:Some of the facilities charge a fee to members, but some do not.
Please list the names of the facilities that do.

In [56]:
query1 = 'SELECT * FROM FACILITIES WHERE membercost >0'
select_all_tasks(conn,query1)

(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)

Q2: How many facilities do not charge a fee to members?

In [57]:
query2 = 'SELECT COUNT( * ) AS count FROM FACILITIES WHERE membercost =0'
select_all_tasks(conn,query2)

(4,)

Q3: How can you produce a list of facilities that charge a fee to members,
where the fee is less than 20% of the facility's monthly maintenance cost?
Return the facid, facility name, member cost, and monthly maintenance of the
facilities in question.

In [59]:
query3 = """SELECT facid, name, membercost, monthlymaintenance
FROM FACILITIES
WHERE membercost >0
AND membercost < monthlymaintenance * 0.2"""
select_all_tasks(conn,query3)

(0, 'Tennis Court 1', 5, 200)
(1, 'Tennis Court 2', 5, 200)
(4, 'Massage Room 1', 9.9, 3000)
(5, 'Massage Room 2', 9.9, 3000)
(6, 'Squash Court', 3.5, 80)

Q4: How can you retrieve the details of facilities with ID 1 and 5?
Write the query without using the OR operator.

In [60]:
query4 = """SELECT *
FROM FACILITIES
WHERE facid
IN ( 1, 5 )
"""
select_all_tasks(conn,query4)

(1, 'Tennis Court 2', 5, 25, 8000, 200)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)

Q5: How can you produce a list of facilities, with each labelled as
'cheap' or 'expensive', depending on if their monthly maintenance cost is
more than $100? Return the name and monthly maintenance of the facilities
in question.

In [61]:
query5 = """SELECT name, monthlymaintenance,
CASE WHEN monthlymaintenance >100
THEN 'expensive'
ELSE 'cheap'
END AS cheap_or_expen
FROM FACILITIES"""
select_all_tasks(conn,query5)

('Tennis Court 1', 200, 'expensive')
('Tennis Court 2', 200, 'expensive')
('Badminton Court', 50, 'cheap')
('Table Tennis', 10, 'cheap')
('Massage Room 1', 3000, 'expensive')
('Massage Room 2', 3000, 'expensive')
('Squash Court', 80, 'cheap')
('Snooker Table', 15, 'cheap')
('Pool Table', 15, 'cheap')

Q6: You'd like to get the first and last name of the last member(s)
who signed up. Do not use the LIMIT clause for your solution.

In [66]:
query6 = """SELECT firstname, surname
FROM MEMBERS
WHERE joindate = (SELECT MAX( joindate )
FROM MEMBERS) """
select_all_tasks(conn,query6)

('Darren', 'Smith')

Q7: How can you produce a list of all members who have used a tennis court?
Include in your output the name of the court, and the name of the member
formatted as a single column. Ensure no duplicate data, and order by
the member name.

In [68]:
query7 = """SELECT DISTINCT FACILITIES.name AS 'facility', MEMBERS.firstname || ' ' || MEMBERS.surname 
AS 'member_name'
FROM FACILITIES
JOIN BOOKINGS ON FACILITIES.facid = BOOKINGS.facid
AND FACILITIES.name LIKE '%Tennis Court%'
JOIN MEMBERS ON BOOKINGS.memid = MEMBERS.memid
ORDER BY 1"""
select_all_tasks(conn,query7)

('Tennis Court 1', 'Tracy Smith')
('Tennis Court 1', 'GUEST GUEST')
('Tennis Court 1', 'Tim Rownam')
('Tennis Court 1', 'Janice Joplette')
('Tennis Court 1', 'Gerald Butters')
('Tennis Court 1', 'Burton Tracy')
('Tennis Court 1', 'Nancy Dare')
('Tennis Court 1', 'Tim Boothe')
('Tennis Court 1', 'Charles Owen')
('Tennis Court 1', 'Anne Baker')
('Tennis Court 1', 'Jack Smith')
('Tennis Court 1', 'David Jones')
('Tennis Court 1', 'Timothy Baker')
('Tennis Court 1', 'David Pinker')
('Tennis Court 1', 'Ponder Stibbons')
('Tennis Court 1', 'Joan Coplin')
('Tennis Court 1', 'Douglas Jones')
('Tennis Court 1', 'Ramnaresh Sarwin')
('Tennis Court 1', 'Jemima Farrell')
('Tennis Court 1', 'David Farrell')
('Tennis Court 1', 'Florence Bader')
('Tennis Court 1', 'John Hunt')
('Tennis Court 1', 'Matthew Genting')
('Tennis Court 1', 'Erica Crumpet')
('Tennis Court 2', 'GUEST GUEST')
('Tennis Court 2', 'Tim Rownam')
('Tennis Court 2', 'Darren Smith')
('Tennis Court 2', 'Janice Joplette')
('Tennis Court 2', 'Tracy Smith')
('Tennis Court 2', 'Gerald Butters')
('Tennis Court 2', 'Tim Boothe')
('Tennis Court 2', 'Burton Tracy')
('Tennis Court 2', 'Nancy Dare')
('Tennis Court 2', 'Ponder Stibbons')
('Tennis Court 2', 'Charles Owen')
('Tennis Court 2', 'David Jones')
('Tennis Court 2', 'Anne Baker')
('Tennis Court 2', 'Timothy Baker')
('Tennis Court 2', 'Florence Bader')
('Tennis Court 2', 'Jemima Farrell')
('Tennis Court 2', 'Ramnaresh Sarwin')
('Tennis Court 2', 'Jack Smith')
('Tennis Court 2', 'Millicent Purview')
('Tennis Court 2', 'Henrietta Rumney')
('Tennis Court 2', 'John Hunt')
('Tennis Court 2', 'David Farrell')

Q8: How can you produce a list of bookings on the day of 2012-09-14 which
will cost the member (or guest) more than $30? Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries.

In [71]:
query8 = """SELECT FACILITIES.name,
       CASE WHEN BOOKINGS.memid>0 THEN MEMBERS.firstname|| ' '|| MEMBERS.surname ELSE 'guest' END AS 'member_name',
       CASE WHEN BOOKINGS.memid>0 THEN BOOKINGS.slots*FACILITIES.membercost ELSE BOOKINGS.slots*FACILITIES.guestcost END AS cost
FROM BOOKINGS
JOIN FACILITIES ON FACILITIES.facid = BOOKINGS.facid
AND BOOKINGS.starttime > '2012-09-04 00:00:00' AND BOOKINGS.starttime < '2012-09-05 00:00:00'
LEFT JOIN MEMBERS ON BOOKINGS.memid = MEMBERS.memid
WHERE (CASE WHEN BOOKINGS.memid>0 THEN BOOKINGS.slots*Facilities.membercost ELSE BOOKINGS.slots*FACILITIES.guestcost END)>30
ORDER BY cost DESC"""
select_all_tasks(conn,query8)

('Massage Room 1', 'guest', 160)
('Massage Room 1', 'guest', 160)
('Massage Room 1', 'guest', 160)
('Massage Room 1', 'guest', 160)
('Massage Room 1', 'guest', 160)
('Massage Room 2', 'guest', 160)
('Massage Room 2', 'guest', 160)
('Tennis Court 1', 'guest', 75)
('Tennis Court 1', 'guest', 75)
('Tennis Court 1', 'guest', 75)
('Tennis Court 2', 'guest', 75)
('Tennis Court 2', 'guest', 75)
('Tennis Court 2', 'guest', 75)
('Squash Court', 'guest', 70.0)
('Badminton Court', 'guest', 46.5)
('Badminton Court', 'guest', 46.5)
('Squash Court', 'guest', 35.0)
('Squash Court', 'guest', 35.0)

Q9: This time, produce the same result as in Q8, but using a subquery.

In [74]:
query9 = """SELECT x.name,
       CASE WHEN x.id>0 THEN MEMBERS.firstname || ' ' || MEMBERS.surname ELSE 'guest' END AS 'member_name',
       x.cost
       
FROM (
    SELECT FACILITIES.name AS name,
           CASE WHEN BOOKINGS.memid>0 THEN BOOKINGS.slots*FACILITIES.membercost ELSE    BOOKINGS.slots*FACILITIES.guestcost END AS cost,
           BOOKINGS.memid AS id
    FROM BOOKINGS
    
    JOIN FACILITIES ON BOOKINGS.facid AND BOOKINGS.starttime > '2012-09-04 00:00:00' AND BOOKINGS.starttime < '2012-09-05 00:00:00'
      ) AS x

LEFT JOIN MEMBERS ON x.id = MEMBERS.memid
WHERE x.cost>30
ORDER BY x.cost DESC"""
select_all_tasks(conn,query9)

('Massage Room 1', 'guest', 320)
('Massage Room 2', 'guest', 320)
('Massage Room 1', 'guest', 240)
('Massage Room 2', 'guest', 240)
('Massage Room 1', 'guest', 240)
('Massage Room 2', 'guest', 240)
('Massage Room 1', 'guest', 240)
('Massage Room 2', 'guest', 240)
('Massage Room 1', 'guest', 240)
('Massage Room 2', 'guest', 240)
('Massage Room 1', 'guest', 240)
('Massage Room 2', 'guest', 240)
('Massage Room 1', 'guest', 160)
('Massage Room 2', 'guest', 160)
('Massage Room 1', 'guest', 160)
('Massage Room 2', 'guest', 160)
('Massage Room 1', 'guest', 160)
('Massage Room 2', 'guest', 160)
('Massage Room 1', 'guest', 160)
('Massage Room 2', 'guest', 160)
('Massage Room 1', 'guest', 160)
('Massage Room 2', 'guest', 160)
('Massage Room 1', 'guest', 160)
('Massage Room 2', 'guest', 160)
('Massage Room 1', 'guest', 160)
('Massage Room 2', 'guest', 160)
('Massage Room 1', 'guest', 160)
('Massage Room 2', 'guest', 160)
('Massage Room 1', 'guest', 160)
('Massage Room 2', 'guest', 160)
('Massage Room 1', 'guest', 160)
('Massage Room 2', 'guest', 160)
('Tennis Court 1', 'guest', 100)
('Tennis Court 2', 'guest', 100)
('Massage Room 1', 'guest', 80)
('Massage Room 2', 'guest', 80)
('Tennis Court 1', 'guest', 75)
('Tennis Court 2', 'guest', 75)
('Tennis Court 1', 'guest', 75)
('Tennis Court 2', 'guest', 75)
('Tennis Court 1', 'guest', 75)
('Tennis Court 2', 'guest', 75)
('Tennis Court 1', 'guest', 75)
('Tennis Court 2', 'guest', 75)
('Tennis Court 1', 'guest', 75)
('Tennis Court 2', 'guest', 75)
('Squash Court', 'guest', 70.0)
('Badminton Court', 'guest', 62.0)
('Squash Court', 'guest', 52.5)
('Squash Court', 'guest', 52.5)
('Squash Court', 'guest', 52.5)
('Squash Court', 'guest', 52.5)
('Squash Court', 'guest', 52.5)
('Tennis Court 1', 'guest', 50)
('Tennis Court 2', 'guest', 50)
('Tennis Court 1', 'guest', 50)
('Tennis Court 2', 'guest', 50)
('Tennis Court 1', 'guest', 50)
('Tennis Court 2', 'guest', 50)
('Tennis Court 1', 'guest', 50)
('Tennis Court 2', 'guest', 50)
('Tennis Court 1', 'guest', 50)
('Tennis Court 2', 'guest', 50)
('Tennis Court 1', 'guest', 50)
('Tennis Court 2', 'guest', 50)
('Tennis Court 1', 'guest', 50)
('Tennis Court 2', 'guest', 50)
('Tennis Court 1', 'guest', 50)
('Tennis Court 2', 'guest', 50)
('Tennis Court 1', 'guest', 50)
('Tennis Court 2', 'guest', 50)
('Tennis Court 1', 'guest', 50)
('Tennis Court 2', 'guest', 50)
('Badminton Court', 'guest', 46.5)
('Badminton Court', 'guest', 46.5)
('Badminton Court', 'guest', 46.5)
('Badminton Court', 'guest', 46.5)
('Badminton Court', 'guest', 46.5)
('Squash Court', 'guest', 35.0)
('Squash Court', 'guest', 35.0)
('Squash Court', 'guest', 35.0)
('Squash Court', 'guest', 35.0)
('Squash Court', 'guest', 35.0)
('Squash Court', 'guest', 35.0)
('Squash Court', 'guest', 35.0)
('Squash Court', 'guest', 35.0)
('Squash Court', 'guest', 35.0)
('Squash Court', 'guest', 35.0)
('Badminton Court', 'guest', 31.0)
('Badminton Court', 'guest', 31.0)
('Badminton Court', 'guest', 31.0)
('Badminton Court', 'guest', 31.0)
('Badminton Court', 'guest', 31.0)
('Badminton Court', 'guest', 31.0)
('Badminton Court', 'guest', 31.0)
('Badminton Court', 'guest', 31.0)
('Badminton Court', 'guest', 31.0)
('Badminton Court', 'guest', 31.0)

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [75]:
query10 = """SELECT FACILITIES.name,
       SUM(CASE WHEN BOOKINGS.memid>0 THEN BOOKINGS.slots*FACILITIES.membercost ELSE    BOOKINGS.slots*FACILITIES.guestcost END) AS total_revenue
FROM BOOKINGS
LEFT JOIN FACILITIES ON Facilities.facid = BOOKINGS.facid
GROUP BY FACILITIES.name
ORDER BY SUM(CASE WHEN BOOKINGS.memid>0 THEN BOOKINGS.slots*Facilities.membercost ELSE    BOOKINGS.slots*FACILITIES.guestcost END)"""
select_all_tasks(conn,query10)

('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)
('Badminton Court', 1906.5)
('Squash Court', 13468.0)
('Tennis Court 1', 13860)
('Tennis Court 2', 14310)
('Massage Room 2', 14454.599999999995)
('Massage Room 1', 50351.600000000275)